h1,h2,h3,h4,h5 {
    font-family: "Burnest-RoughRegular", Verdana, Arial, sans-serif;
    color: #7C7672;
    }
    
    p {
    font-family:"Magra", Verdana, Arial, sans-serif;
    font-size: 1.725em;
    color: #7C7672;
    }